# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
# build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
frontend/*
/frontend/*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

frontend/.gitignore
frontend/package-lock.json
frontend/package.json
frontend/README.md
frontend/build/asset-manifest.json
frontend/build/favicon.ico
frontend/build/index.html
frontend/build/logo192.png
frontend/build/logo512.png
frontend/build/manifest.json
frontend/build/precache-manifest.77e87aa9c54e3308cb98b4ef2c9de619.js
frontend/build/robots.txt
frontend/build/service-worker.js
frontend/build/static/css/main.5ecd60fb.chunk.css
frontend/build/static/css/main.5ecd60fb.chunk.css.map
frontend/build/static/js/2.fe0892be.chunk.js
frontend/build/static/js/2.fe0892be.chunk.js.LICENSE
frontend/build/static/js/2.fe0892be.chunk.js.map
frontend/build/static/js/main.c281fc03.chunk.js
frontend/build/static/js/main.c281fc03.chunk.js.map
frontend/build/static/js/runtime-main.8c5f780f.js
frontend/build/static/js/runtime-main.8c5f780f.js.map
frontend/public/favicon.ico
frontend/public/index.html
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt
frontend/src/Api.js
frontend/src/App.css
frontend/src/App.js
frontend/src/App.test.js
frontend/src/index.css
frontend/src/index.js
frontend/src/logo.svg
frontend/src/serviceWorker.js
frontend/src/setupTests.js
frontend/src/component/ClusterMap.js
frontend/src/component/ComparedMetrics.js
frontend/src/component/Composed.js
frontend/src/component/DataTable.js
frontend/src/component/index.js
frontend/src/component/TableRenderer.js
frontend/src/utils/DateUtils.js
